Homework 2 Sehyun Cho - CAP4612

In [355]:
'''
Sehyun Cho
COP4612

Implememt algorithm psuedocode
step 1: Determine parameter K = number of nearest neighbors
step 2: Calculate the distance between the query-instance and all the training examples
step 3: Sort the distance and determine nearest neighbors based on the k-th minimum distance.
step 4: Gather the category Y of the nearest neighbors.
step 5: Use simple majority of the category of nearest neighbors as the prediction value of the query instance.
'''

# Import libraries
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [356]:
# Import the dataset as Multidimensional Array (x1 ~ x19)
dataset = ([0,1.5,1.4,1.6,1.7,1.3,1.6,1.5,1.4,2.3,2.9,3.2,3.3,3.4,4.2,4.1,5.9,6.1,6.0],
          [1.5,0,1.6,1.4,1.4,1.4,1.3,1.4,1.3,2.4,2.8,3.3,3.4,3.2,4.1,4.1,6.2,6.3,6.1],
          [1.4,1.6,0,1.3,1.5,1.4,1.4,1.6,1.4,2.5,2.9,3.2,3.2,3.5,4.1,4.1,6.2,6.2,6.2],
          [1.6,1.4,1.3,0,1.5,1.5,1.4,1.3,1.5,2.3,3.0,3.1,3.2,3.4,4.1,4.1,5.8,5.8,5.8],
          [1.7,1.4,1.5,1.5,0,1.4,1.5,1.7,1.2,2.6,2.9,3.3,3.3,3.7,4.1,4.1,6.1,6.1,6.1],
          [1.3,1.4,1.4,1.5,1.4,0,1.8,1.6,1.4,2.7,3.1,3.4,3.4,3.5,4.1,4.1,6.0,6.0,6.0],
          [1.6,1.3,1.4,1.4,1.5,1.8,0,1.4,1.3,2.8,2.9,3.3,3.2,3.6,4.1,4.1,6.1,6.1,6.1], 
          [1.5,1.4,1.6,1.3,1.7,1.6,1.4,0,1.5,2.7,3.1,3.4,3.3,3.3,4.1,4.1,5.9,5.9,5.9], 
          [1.4,1.3,1.4,1.5,1.2,1.4,1.3,1.5,0,3.1,3.0,3.5,3.5,3.5,4.1,4.1,5.8,5.8,5.8],
          [2.3,2.4,2.5,2.3,2.6,2.7,2.8,2.7,3.1,0,1.5,3.3,3.6,3.6,4.1,4.1,6.0,6.0,6.0],
          [2.9,2.8,2.9,3.0,2.9,3.1,2.9,3.1,3.0,1.5,0,3.3,3.6,3.6,4.1,4.1,6.0,6.0,6.0], 
          [3.2,3.3,3.2,3.1,3.3,3.4,3.3,3.4,3.5,3.3,1.6,0,1.4,1.5,1.7,1.6,2.3,3.1,3.0], 
          [3.3,3.4,3.2,3.2,3.3,3.4,3.2,3.3,3.5,3.6,1.4,1.7,0,1.8,1.6,1.5,2.3,2.7,2.9],
          [3.4,3.2,3.5,3.4,3.7,3.5,3.6,3.3,3.5,3.6,1.5,1.8,0.5,0,0.3,0.4,2.5,2.6,2.7], 
          [4.2,4.1,4.1,4.1,4.1,4.1,4.1,4.1,4.1,4.1,1.7,1.6,0.3,0.5,0,0.5,2.3,2.3,2.4], 
          [4.1,4.1,4.1,4.1,4.1,4.1,4.1,4.1,4.1,4.1,1.6,1.5,0.4,0.5,0.4,0,2.4,2.5,2.5], 
          [5.9,6.2,6.2,5.8,6.1,6.0,6.1,5.9,5.8,6.0,2.3,2.3,2.5,2.3,2.4,2.5,0,2.6,2.8], 
          [6.1,6.3,6.2,5.8,6.1,6.0,6.1,5.9,5.8,6.0,3.1,2.7,2.6,2.3,2.5,2.6,3.0,0,0.4],
          [6.0,6.1,6.2,5.8,6.1,6.0,6.1,5.9,5.8,6.0,3.0,2.9,2.7,2.4,2.5,2.8,3.1,0.4,0])

# Set each index of dataset as x1 ~ x19
x1 = dataset[0]
x2 = dataset[1]
x3 = dataset[2]
x4 = dataset[3]
x5 = dataset[4]
x6 = dataset[5]
x7 = dataset[6]
x8 = dataset[7]
x9 = dataset[8]
x10 = dataset[9]
x11 = dataset[10]
x12 = dataset[11]
x13 = dataset[12]
x14 = dataset[13]
x15 = dataset[14]
x16 = dataset[15]
x17 = dataset[16]
x18 = dataset[17]
x19 = dataset[18]

In [357]:
# Original Sample
class1 = [x1,x2,x5,x6,x9,x10,x13,x14,x17,x18]
class2 = [x3,x4,x7,x8,x11,x12,x15,x16,x19]

# Training Sample
training_class1 = [x1,x5,x9,x13,x17]
training_class2 = [x3,x7,x11,x15,x19]

# Test sample
test_class1 = [x2,x6,x10,x14,x18]
test_class2 = [x4,x8,x12,x16]

In [358]:
# test class1 with all training classes
x2_test = [test_class1[0][0], test_class1[0][4], test_class1[0][8], test_class1[0][12], test_class1[0][16], 
           test_class1[0][2], test_class1[0][6], test_class1[0][10], test_class1[0][14], test_class1[0][18]]

x6_test = [test_class1[1][0], test_class1[1][4], test_class1[1][8], test_class1[1][12], test_class1[1][16],
           test_class1[1][2], test_class1[1][6], test_class1[1][10], test_class1[1][14], test_class1[1][18]]

x10_test = [test_class1[2][0], test_class1[2][4], test_class1[2][8], test_class1[2][12], test_class1[2][16],
            test_class1[2][2], test_class1[2][6], test_class1[2][10], test_class1[2][14], test_class1[2][18]]

x14_test = [test_class1[3][0], test_class1[3][4], test_class1[3][8], test_class1[3][12], test_class1[3][16],
            test_class1[3][2], test_class1[3][6], test_class1[3][10], test_class1[3][14], test_class1[3][18]]

x18_test = [test_class1[4][0], test_class1[4][4], test_class1[4][8], test_class1[4][12], test_class1[4][16],
            test_class1[4][2], test_class1[4][6], test_class1[4][10], test_class1[4][14], test_class1[4][18]]

# test class2 with all training classes
x4_test = [test_class2[0][0], test_class2[0][4], test_class2[0][8], test_class2[0][12], test_class2[0][16], 
           test_class2[0][2], test_class2[0][6], test_class2[0][10], test_class2[0][14], test_class2[0][18]]

x8_test = [test_class2[1][0], test_class2[1][4], test_class2[1][8], test_class2[1][12], test_class2[1][16],
           test_class2[1][2], test_class2[1][6], test_class2[1][10], test_class2[1][14], test_class2[1][18]]

x12_test = [test_class2[2][0], test_class2[2][4], test_class2[2][8], test_class1[2][12], test_class2[2][16],
            test_class2[2][2], test_class2[2][6], test_class2[2][10], test_class1[2][14], test_class2[2][18]]

x16_test = [test_class2[3][0], test_class2[3][4], test_class2[3][8], test_class2[3][12], test_class2[3][16],
            test_class2[3][2], test_class2[3][6], test_class2[3][10], test_class2[3][14], test_class2[3][18]]

# Declare class label
class_label = [1,1,1,1,1,2,2,2,2,2]

tt1 = [x2_test, x6_test, x10_test, x14_test, x18_test]
tt2 = [x4_test, x8_test, x12_test, x16_test]

# set column name as x2
df_setup ={
    'x2': tt1[0]
} 
df_x2 = pd.DataFrame(df_setup, columns=['x2'])

# Find each row names as data represent(to see values)
df_x2.index =['x1','x5','x9','x13','x17','x3','x7','x11','x15','x19']
df_x2

      x2
x1   1.5
x5   1.4
x9   1.3
x13  3.4
x17  6.2
x3   1.6
x7   1.3
x11  2.8
x15  4.1
x19  6.1

In [359]:
# order = 1 5 9 13 17 3 7 11 15 19
# set x2 as test sample
all_setup ={
    'x2':tt1[0],
    'x6':tt1[1],
    'x10':tt1[2],
    'x14':tt1[3],
    'x18':tt1[4],
    'x4':tt2[0],
    'x8':tt2[1],
    'x12':tt2[2],
    'x16':tt2[3],
    'label':class_label
}
df_all = pd.DataFrame(all_setup, columns=['x2','x6','x10','x14','x18','x4','x8','x12','x16','label'])

# Set 'X' as dataframe without label
X = df_all.drop(['label'], axis = 1)

# label 1 = class1, label2 = class2
# set 'y' as dataframe with label
y = df_all['label']
y

0    1
1    1
2    1
3    1
4    1
5    2
6    2
7    2
8    2
9    2
Name: label, dtype: int64

In [360]:
# Determine K values
K_range = [1,2,3,4,5,6,7,8,9,10]
sorted_x2 = df_x2.sort_values(by ='x2', ascending=True)

# Sort the Euclidean distances by samples
sorted_x2

      x2
x9   1.3
x7   1.3
x5   1.4
x1   1.5
x3   1.6
x11  2.8
x13  3.4
x15  4.1
x19  6.1
x17  6.2

In [361]:
# Split the datasets
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [362]:
# Append each accuracy in the list
accuracy_lists = []
for i in range(1,8):
    neighbor = KNeighborsClassifier(n_neighbors = i).fit(X_train,y_train)
    y_a1 = neighbor.predict(X_test)
    accuracy_lists.append(metrics.accuracy_score(y_test, y_a1))

# Print accuracy list
accuracy_lists

[0.0,
 0.3333333333333333,
 0.0,
 0.3333333333333333,
 0.3333333333333333,
 0.3333333333333333,
 0.3333333333333333]